/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* STARTS HERE*/
/*VARS*/
$hotPink: #f9004d;
$deepOrange: #f81f01;
$bg1: #101010;
$bg2: #191919;
$txtGrey: #c6c9d8;
$coldPink: #ee076e;
/****/
/*MIXINS*/
@mixin flex-row {
  // write the css here
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
@mixin flex-col() {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
@mixin para() {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}
@mixin header-h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
}
@mixin verticalPad($pad) {
  padding-top: $pad;
  padding-bottom: $pad;
}
@mixin horizontalPad($pad) {
  padding-right: $pad;
  padding-left: $pad;
}
@mixin slider-btn {
  width: 50px;
  height: 41rem;
  position: absolute;
  background: orange;
  z-index: 100;
}
/*****/

.container {
  max-width: 78rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
header {
  padding: 3.5rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  background: $bg1;
  color: $txtGrey;
}

.btn {
  border: 2px solid $txtGrey;
  border-radius: 5px;
  min-width: 3em;
  padding: 0.9em 1.5em;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  color: $txtGrey;
  font-weight: 600;
  &:hover {
    border: 2px solid $hotPink;
    background: $hotPink;
    transform: translateY(-3px);
  }
}

/*                       */
.nav-li {
  @include flex-row();
  justify-content: space-between;
  width: 30rem;
}
.header-wrapper {
  @include flex-row();
  justify-content: space-between;
  align-items: center;
}
.header-right {
  @include flex-row();
  justify-content: space-between;
  align-items: center;

  width: 40rem;
}

/*FIRST SECTION*/
.first-section {
  min-height: 50rem;
  background: $bg1;
}
.service-elements-container {
  @include flex-row();
}
.first-section-head {
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(140deg, $coldPink 0%, $deepOrange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
}
.service-element {
  color: $txtGrey;
  padding-left: 2rem;
  .content {
    h3 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1.8rem;
    }
    p {
      @include para();
    }
  }
}

/**********/

/*ABOUT SECTION*/
.about-section {
  min-height: 45rem;
  background: $bg2;
  color: $txtGrey;
}
.about-container {
  @include flex-row();
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.about-content {
  @include flex-col();
  margin-left: 4rem;
  justify-content: center;
}
.about-bottom-content {
  @include flex-row();
}
.about-thumbnail {
  img {
    border-radius: 8px;
  }
}

.main-about {
  h1 {
    @include header-h1();
  }
  p {
    @include para();
    margin-top: 1.7rem;
    margin-bottom: 2.7rem;
  }
}
.small-about {
  h1 {
    font-size: 1.7rem;
    font-weight: 900;
    color: #fff;
  }
  p {
    @include para();
    margin-top: 1.7rem;
    margin-right: 1rem;
  }
}
/**************/
/*SERVICE SECTION*/
.services-section {
  min-height: 45rem;
  background: $bg1;
  color: $txtGrey;
}
.left-service-cont {
  width: 28rem;
  padding-top: 2rem;
  padding-right: 4rem;
}
.right-service-cont {
  display: grid;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: 17rem 17rem;
  grid-gap: 1rem;
}
.service-element-srv {
  color: $txtGrey;
  padding: 2rem;
  transition: all 0.2s ease-out;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
  .content {
    h3 {
      color: #fff;
      font-size: 1.6rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      @include para();
    }
  }
  &:hover {
    transform: translateY(-4px);
    background: linear-gradient(to right, $deepOrange, $hotPink);
    .svg-srv > line,
    path,
    circle,
    rect,
    polygon,
    polyline {
      stroke: #fff;
    }
  }
}
.svg-srv {
  width: 50px;
  height: 50px;
  stroke-width: 1px;
}
.service-btn {
  a {
    color: white;
    font-size: 1.1rem;

    span {
      position: relative;

      &::after {
        content: "";
        left: 0;
        bottom: -5px;

        position: absolute;
        width: 40px;
        height: 2px;
        background: $hotPink;
        transition: 0.4s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
/*************/

/*WORKS SECTION*/
.works-section {
  min-height: 65rem;
  background: $bg2;
  color: #fff;
}
.works-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.works-header {
  text-align: center;
  margin-bottom: 3rem;
  h1 {
    @include header-h1();
  }
  p {
    @include para();
    padding-top: 1rem;
    color: $txtGrey;
    width: 38rem;
    display: inline-block;
  }
}
.slide-container {
  max-width: 100vw;
  overflow: hidden;
  width: 100%;
  height: 45rem;
  left: 0;
  position: absolute;
}
.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.slide-item {
  height: 40rem;
  width: 30rem;
  border-radius: 15px;
  position: absolute;
  top: 0;
  z-index: 20;
  // transform-style: preserve-3d;
  transition: 1s;
  &:hover {
    .slide-thumbnail {
      transform: scale(0.95);
    }
    &::before {
      opacity: 0.85;
      background: linear-gradient(to bottom, $hotPink 10%, black 100%);
      transform: scale(1.05);
    }
    .slide-item-shadow {
      transform: scale(1.05);
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 1s;
    top: 0;
    left: 0;
    opacity: 0;
    background: black;
    z-index: 10;
    transition: 0.5s;
    border-radius: 5px;
  }
}
.slide-item-shadow {
  height: 40rem;
  width: 30rem;
  background: black;
  position: absolute;
  border-radius: 5px;
  transition: 0.5s;
}
.slide-item-content {
  position: absolute;
  bottom: 0;
  z-index: 15;
  margin: 3rem;
  p {
    opacity: 0.85;
    color: $txtGrey;
    font-size: 1.1rem;
  }
  h3 {
    @include verticalPad(2rem);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
  }
}
.slide-thumbnail {
  background-image: url("./assets/imgs/portfolio-8.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 15px;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
}
.slide-btn {
  font-size: 0.8rem;
}
.slider-left-btn {
  @include slider-btn;
}
.slider-right-btn {
  @include slider-btn;
  right: 0;
}

.fun-facts {
  margin-top: 40rem;
  padding-bottom: 4rem;
  h1 {
    font-size: 2.2rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
  }
}
.fun-facts-content {
  @include flex-row();
  h1 {
    @include header-h1();
    @include verticalPad(2rem);
    color: $hotPink;
  }
  p {
    @include para();
    @include horizontalPad(3rem);
    color: $txtGrey;
    text-align: center;
  }
}
/**************/
/*testimonial-section*/
.testimonial-section {
  min-height: 35rem;
  background: $bg1;
}
.testmonial-container {
  @include verticalPad(6rem);
  h1 {
    @include header-h1();
    font-size: 2.2rem;
    line-height: 3.5rem;
    text-align: center;
    @include horizontalPad(7rem);
  }
  p {
    text-transform: uppercase;
    @include para();
    color: $txtGrey;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    text-align: center;
    span {
      color: #fff;
      opacity: 1;
    }
  }
}
.testmonial-list {
  @include flex-row();
  width: fit-content;
  margin: auto;
  width: 33rem;
  flex-wrap: wrap;
  justify-content: center;

  .testmonial-item {
    margin: 0.8rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    &:hover {
      transform: scale(1.12);
    }

    &::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 13px;
      background: $hotPink;
      border-radius: 50%;
      top: -5px;
      right: -5px;
    }
    a {
      display: inline-block;

      img {
        backface-visibility: hidden;
        transform: translateZ(0);
        transform: scale(0.9);
        width: 5rem;
        border-radius: 5px;
      }
    }
  }
}

/********************/
/*NEWS SECTION*/
.news-section {
  min-height: 50rem;
  background-color: $bg2;
}
/*************/
