/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* STARTS HERE*/
/*VARS*/
/****/
/*MIXINS*/
/*****/
.container {
  max-width: 78rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  padding: 3.5rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  background: #101010;
  color: #c6c9d8;
}

.btn {
  border: 2px solid #c6c9d8;
  border-radius: 5px;
  min-width: 3em;
  padding: 0.9em 1.5em;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #c6c9d8;
}

.btn:hover {
  border: 2px solid #f9004d;
  background: #f9004d;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*                       */
.nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
}

/*FIRST SECTION*/
.first-section {
  min-height: 50rem;
  background: #101010;
}

.service-elements-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.first-section-head {
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(140deg, #ee076e 0%, #f81f01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.service-element {
  color: #c6c9d8;
  padding-left: 2rem;
}

.service-element .content h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.service-element .content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}

/**********/
/*ABOUT SECTION*/
.about-section {
  min-height: 45rem;
  background: #191919;
  color: #c6c9d8;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-thumbnail img {
  border-radius: 8px;
}

.main-about h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
}

.main-about p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  margin-top: 1.7rem;
  margin-bottom: 2.7rem;
}

.small-about h1 {
  font-size: 1.7rem;
  font-weight: 900;
  color: #fff;
}

.small-about p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  margin-top: 1.7rem;
  margin-right: 1rem;
}

/**************/
/*SERVICE SECTION*/
.services-section {
  min-height: 45rem;
  background: #101010;
  color: #c6c9d8;
}

.left-service-cont {
  width: 28rem;
  padding-top: 2rem;
  padding-right: 4rem;
}

.right-service-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 25rem;
      grid-template-columns: 25rem 25rem;
  -ms-grid-rows: 17rem 17rem;
      grid-template-rows: 17rem 17rem;
  grid-gap: 1rem;
}

.service-element-srv {
  color: #c6c9d8;
  padding: 2rem;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 15px;
  cursor: pointer;
}

.service-element-srv .content h3 {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.service-element-srv .content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}

.service-element-srv:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  background: -webkit-gradient(linear, left top, right top, from(#f81f01), to(#f9004d));
  background: linear-gradient(to right, #f81f01, #f9004d);
}

.service-element-srv:hover .svg-srv > line,
.service-element-srv:hover path,
.service-element-srv:hover circle,
.service-element-srv:hover rect,
.service-element-srv:hover polygon,
.service-element-srv:hover polyline {
  stroke: #fff;
}

.svg-srv {
  width: 50px;
  height: 50px;
  stroke-width: 1px;
}

.service-btn a {
  color: white;
  font-size: 1.1rem;
}

.service-btn a span {
  position: relative;
}

.service-btn a span::after {
  content: "";
  left: 0;
  bottom: -5px;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #f9004d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-btn a span:hover::after {
  width: 100%;
}

/*************/
/*WORKS SECTION*/
.works-section {
  min-height: 45rem;
  background: #191919;
  color: #fff;
}

.works-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.works-header {
  text-align: center;
}

.works-header h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
}

.works-header p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  padding-top: 1rem;
  color: #c6c9d8;
  width: 38rem;
  display: inline-block;
}

.slide-item {
  height: 35rem;
  width: 25rem;
  border-radius: 15px;
  position: relative;
  z-index: 20;
}

.slide-item:hover .slide-thumbnail {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.slide-item:hover::before {
  opacity: 0.85;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f9004d), to(black));
  background: linear-gradient(to bottom, #f9004d 10%, black 100%);
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.slide-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  left: 0;
  opacity: 0;
  background: black;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 15px;
}

.slide-item-content {
  position: absolute;
  bottom: 0;
  z-index: 15;
}

.slide-thumbnail {
  background-image: url("./assets/imgs/portfolio-8.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
}

/**************/
/*# sourceMappingURL=style.css.map */