/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* STARTS HERE*/
/*VARS*/
$hotPink: #f9004d;
$deepOrange: #f81f01;
$bg1: #101010;
$bg2: #191919;
$txtGrey: #c6c9d8;
$coldPink: #ee076e;
/****/
/*MIXINS*/
@mixin flex-row {
  // write the css here
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
@mixin flex-col() {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
@mixin para() {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}
@mixin header-h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
}
@mixin verticalPad($pad) {
  padding-top: $pad;
  padding-bottom: $pad;
}
@mixin horizontalPad($pad) {
  padding-right: $pad;
  padding-left: $pad;
}
@mixin slider-btn {
  width: 50px;
  height: 41rem;
  position: absolute;
  background: orange;
  z-index: 100;
}
/*****/

.container {
  max-width: 78rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
header {
  padding: 3.5rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  background: $bg1;
  color: $txtGrey;
}

.btn {
  border: 2px solid $txtGrey;
  border-radius: 5px;
  min-width: 3em;
  padding: 0.9em 1.5em;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  color: $txtGrey;
  font-weight: 600;
  &:hover {
    border: 2px solid $hotPink;
    background: $hotPink;
    transform: translateY(-3px);
  }
}
.side-nav {
  background-color: $bg1;
  position: absolute;
  z-index: 101;
  right: 0;
  top: 0;
  width: 0;
  height: 100rem;
  transition: 0.6s all ease-in-out;
  position: fixed;
}
.side-nav-list-item {
  @include verticalPad(0.5rem);
  cursor: pointer;
  margin-bottom: 1rem;
  color: $txtGrey;
  font-size: 0.9rem;
  a {
    color: $txtGrey;
    font-weight: 600;
    font-size: 1.01rem;
  }
}
.side-nav-con {
  padding: 2rem;
}
.side-nav-list-item-list {
  padding-top: 0.9rem;
  @include horizontalPad(0.8rem);
}
.side-nav-list-item-list li {
  @include verticalPad(0.5rem);
  &:hover {
    background-color: rgba(249, 0, 77, 0.07);
  }
}

.close-side-nav-btn {
  padding-right: 2rem;
  cursor: pointer;
}
.close-side-nav-btn-con {
  display: flex;
  flex-direction: row-reverse;
}
.width-full {
  width: 55vw;
}

.side-nav-content {
  margin: 2rem;
  margin-top: 5rem;
}
.floating-scroll-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.2rem;
  margin-bottom: 3.5rem;
  background-color: #fff;
  z-index: 100;
  cursor: pointer;
}
.floating-scroll-btn-img {
  width: 15px;
  height: 15px;
  padding: 17px;
}
.nav-li {
  @include flex-row();
  justify-content: space-between;
  width: 30rem;
}
.nav-item {
  position: relative;
  cursor: pointer;
  &:hover {
    color: $hotPink;
    .nav-item-dropdown {
      display: inline-block;
    }
  }
}
.nav-item-dropdown {
  color: #000;
  position: absolute;
  display: none;
  border-radius: 5px;
  width: 12rem;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
}
.nav-item-title {
  margin-bottom: 1rem;
}
.nav-item-dropdown-list li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: $hotPink;
  }
}
.header-wrapper {
  @include flex-row();
  justify-content: space-between;
  align-items: center;
}
.header-right {
  @include flex-row();
  justify-content: space-between;
  align-items: center;

  width: 40rem;
}
/*
.btn {
  border: 2px solid $txtGrey;
  border-radius: 5px;
  min-width: 3em;
  padding: 0.9em 1.5em;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.3s;
  color: $txtGrey;
  font-weight: 600;
  &:hover {
    border: 2px solid $hotPink;
    background: $hotPink;
    transform: translateY(-3px);
  }
*/
.header-btn {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.header-right-hamburger {
  margin-left: auto;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hamburger {
  cursor: pointer;
}
.header-right-hamburger .header-btn {
  margin-bottom: 0;
  margin-right: 1rem;
}

/*FIRST SECTION*/
.first-section {
  min-height: 50rem;
  background: $bg1;
}
.service-elements-container {
  @include flex-row();
}
.hidden {
  display: none;
}
.first-section-head {
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(140deg, $coldPink 0%, $deepOrange 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
}
.service-element {
  color: $txtGrey;
  padding-left: 2rem;
  .content {
    h3 {
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1.8rem;
    }
    p {
      @include para();
    }
  }
}

/**********/

/*ABOUT SECTION*/
.about-section {
  min-height: 45rem;
  background: $bg2;
  color: $txtGrey;
}
.about-container {
  @include flex-row();
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.about-content {
  @include flex-col();
  margin-left: 4rem;
  justify-content: center;
}
.about-bottom-content {
  @include flex-row();
}
.about-thumbnail {
  img {
    border-radius: 8px;
  }
}

.main-about {
  h1 {
    @include header-h1();
  }
  p {
    @include para();
    margin-top: 1.7rem;
    margin-bottom: 2.7rem;
  }
}
.small-about {
  h1 {
    font-size: 1.7rem;
    font-weight: 900;
    color: #fff;
  }
  p {
    @include para();
    margin-top: 1.7rem;
    margin-right: 1rem;
  }
}
/**************/
/*SERVICE SECTION*/
.services-section {
  min-height: 45rem;
  background: $bg1;
  color: $txtGrey;
}
.left-service-cont {
  width: 28rem;
  padding-top: 2rem;
  padding-right: 4rem;
}
.right-service-cont {
  display: grid;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: 17rem 17rem;
  grid-gap: 1rem;
}
.service-element-srv {
  color: $txtGrey;
  padding: 2rem;
  transition: all 0.2s ease-out;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
  .content {
    h3 {
      color: #fff;
      font-size: 1.6rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      @include para();
    }
  }
  &:hover {
    transform: translateY(-4px);
    background: linear-gradient(to right, $deepOrange, $hotPink);
    .svg-srv > line,
    path,
    circle,
    rect,
    polygon,
    polyline {
      stroke: #fff;
    }
  }
}
.svg-srv {
  width: 50px;
  height: 50px;
  stroke-width: 1px;
}
.service-btn {
  a {
    color: white;
    font-size: 1.1rem;

    span {
      position: relative;

      &::after {
        content: "";
        left: 0;
        bottom: -5px;

        position: absolute;
        width: 40px;
        height: 2px;
        background: $hotPink;
        transition: 0.4s;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
/*************/

/*WORKS SECTION*/
.works-section {
  min-height: 65rem;
  background: $bg2;
  color: #fff;
}
.works-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.works-header {
  text-align: center;
  margin-bottom: 3rem;
  h1 {
    @include header-h1();
  }
  p {
    @include para();
    padding-top: 1rem;
    color: $txtGrey;
    width: 38rem;
    display: inline-block;
  }
}
.slide-container {
  max-width: 100vw;
  overflow: hidden;
  width: 100%;
  height: 45rem;
  left: 0;
  position: absolute;
}
.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.slide-item {
  height: 40rem;
  width: 30rem;
  border-radius: 15px;
  position: absolute;
  z-index: 20;
  margin-right: 2rem;
  // transform-style: preserve-3d;
  transition: 1s;
  &:hover {
    .slide-thumbnail {
      transform: scale(0.95);
    }
    &::before {
      opacity: 0.85;
      background: linear-gradient(to bottom, $hotPink 10%, black 100%);
      transform: scale(1.05);
    }
    .slide-item-shadow {
      transform: scale(1.05);
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 1s;
    top: 0;
    left: 0;
    opacity: 0;
    background: black;
    z-index: 10;
    transition: 0.5s;
    border-radius: 5px;
  }
}
.slide-item-shadow {
  height: 40rem;
  width: 30rem;
  background: black;
  position: absolute;
  border-radius: 5px;
  transition: 0.5s;
}
.slide-item-content {
  position: absolute;
  bottom: 0;
  z-index: 15;
  margin: 3rem;
  p {
    opacity: 0.85;
    color: $txtGrey;
    font-size: 1.1rem;
  }
  h3 {
    @include verticalPad(2rem);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
  }
}
.slide-thumbnail {
  background-image: url("./assets/imgs/portfolio-8.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 15px;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
}
.slide-btn {
  font-size: 0.8rem;
}
.slider-left-btn {
  @include slider-btn;
}
.slider-right-btn {
  @include slider-btn;
  right: 0;
}

.fun-facts {
  margin-top: 40rem;
  padding-bottom: 4rem;
  h1 {
    font-size: 2.2rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    padding-bottom: 1rem;
  }
}
.fun-facts-content {
  @include flex-row();
  h1 {
    @include header-h1();
    @include verticalPad(2rem);
    color: $hotPink;
  }
  p {
    @include para();
    @include horizontalPad(3rem);
    color: $txtGrey;
    text-align: center;
  }
}
/**************/
/*testimonial-section*/
.testimonial-section {
  min-height: 35rem;
  background: $bg1;
}
.testmonial-container {
  @include verticalPad(6rem);
  h1 {
    @include header-h1();
    font-size: 2.2rem;
    line-height: 3.5rem;
    text-align: center;
    @include horizontalPad(7rem);
  }
  p {
    text-transform: uppercase;
    @include para();
    color: $txtGrey;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    text-align: center;
    span {
      color: #fff;
      opacity: 1;
    }
  }
}
.testmonial-list {
  @include flex-row();
  width: fit-content;
  margin: auto;
  width: 33rem;
  flex-wrap: wrap;
  justify-content: center;

  .testmonial-item {
    margin: 0.8rem;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    &:hover {
      transform: scale(1.12);
    }

    &::after {
      content: "";
      position: absolute;
      width: 13px;
      height: 13px;
      background: $hotPink;
      border-radius: 50%;
      top: -5px;
      right: -5px;
    }
    a {
      display: inline-block;

      img {
        backface-visibility: hidden;
        transform: translateZ(0);
        transform: scale(0.9);
        width: 5rem;
        border-radius: 5px;
      }
    }
  }
}

/********************/
/*NEWS SECTION*/
.news-section {
  min-height: 50rem;
  background-color: $bg2;
}
.news-container {
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.news-cards {
  position: relative;
  height: 34rem;
  width: 100%;

  @include flex-row();
  justify-content: space-between;
}
.news-item {
  position: relative;
  height: 34rem;
  width: 25rem;
  border-radius: 4px;
  z-index: 20;
  overflow: hidden;
  // transform-style: preserve-3d;
  transition: 1s;
  cursor: pointer;
  &:hover {
    .news-thumbnail {
      transform: scale(1.15);
    }
    &::before {
      opacity: 0.85;
      background: linear-gradient(to bottom, $hotPink 10%, black 100%);
    }
    .news-btn {
      opacity: 1;
      visibility: visible;
    }
    .news-item-content {
      transform: translateY(0);
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 1s;
    top: 0;
    left: 0;
    opacity: 0;
    background: black;
    z-index: 10;
    transition: 0.5s;
    border-radius: 5px;
  }
}
.news-item-shadow {
  height: 40rem;
  width: 30rem;
  background: black;
  position: absolute;
  border-radius: 5px;
  transition: 0.5s;
}
.news-thumbnail {
  background-image: url("./assets/imgs/portfolio-8.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 5px;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
}
.news-item-content {
  position: absolute;
  bottom: 0;
  transform: translateY(100px);
  z-index: 15;
  margin: 3rem;
  transition: 0.5s;

  p {
    opacity: 0.85;
    color: $txtGrey;
    font-size: 0.9rem;
  }
  h3 {
    padding-top: 1.3rem;
    padding-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
  }
}
.news-btn {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  font-size: 0.8rem;
  border-color: $hotPink;
}
.news-header {
  margin-bottom: 3rem;
  @include flex-row();
  h1 {
    @include header-h1();
  }
  p {
    @include para();
    margin-top: 1.7rem;
    color: $txtGrey;
  }
  .service-btn {
    float: right;
  }
}
.left-news-header {
  margin-top: auto;

  width: 50%;
}
.right-news-header {
  width: 50%;
  margin-top: auto;
  margin-bottom: 0.55rem;
}
.clients-container {
  margin-top: 5rem;
}
.clients-list {
  @include flex-row();
  flex-wrap: wrap;
  justify-content: center;
  li {
    padding: 3rem;
    img {
      filter: invert(1);
      opacity: 0.7;
      max-height: 110px;
      max-width: 150px;
      cursor: pointer;
    }
  }
}
/*************/
/*FOOOTER*/
.footer {
  min-height: 35rem;
  background: $bg2;
  position: relative;
}
.footer-container {
  @include flex-row();
}
.footer-left {
  background: -webkit-linear-gradient(140deg, $coldPink 0%, $deepOrange 100%);
  width: 51%;
  height: 35rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-right-radius: 5px;
  @include flex-row();
  align-items: center;
  justify-content: flex-start;
  z-index: 15;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("./assets/imgs/pattern-1.png");
    z-index: -1;
    opacity: 0.5;
  }
  &::after {
    content: "";
    position: absolute;
    width: 26rem;
    height: 20rem;
    background: url("./assets/imgs/big-logo.png") no-repeat;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.footer-left-content {
  margin-left: 8rem;
  h1 {
    @include header-h1();
    font-size: 4.5rem;
    line-height: 90px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 2.3rem;
    padding-top: 0.7rem;
  }
  p {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}
.footer-right {
  background: $bg1;
  width: 49%;
  height: 30rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.footer-btn {
  font-size: 1rem;
  padding: 1.2em 2.3em;
  letter-spacing: 0.2rem;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: $hotPink;
  }
}
.footer-right-content {
  color: $txtGrey;
  opacity: 0.8;
  h4 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2.3rem;
  }
  li {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
.copyright {
  color: $txtGrey;
  opacity: 0.8;
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  padding-left: 7.3rem;
}
.footer-right-content-container {
  @include flex-row();
  justify-content: space-between;
  padding-top: 10rem;
  padding-right: 8.5rem;
  padding-left: 7.3rem;
}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) {
  .main-nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .header-right-hamburger {
    display: flex;
  }
  .header-right-hamburger .header-btn {
    display: inline-block;
  }
  .first-section-head {
    font-size: 4rem;
    width: 25rem;
    margin-left: 6rem;
  }
  .service-elements-container {
    flex-wrap: wrap;
    margin-left: 3rem;
    padding-bottom: 2rem;
  }
  .service-element {
    width: 33%;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .about-container {
    flex-direction: column;
  }
  .about-thumbnail {
    margin: auto;
    width: 43rem;
    img {
      width: 100%;
    }
  }
  .about-content {
    margin-top: 3.2rem;
    @include horizontalPad(4.5rem);
    padding-right: 7rem;
  }
  .about-bottom-content {
    flex-direction: column;
  }
  .small-about {
    margin-top: 1rem;
  }
  .about-container {
    align-items: center;
  }
  .left-service-cont {
    width: 43rem;
    margin-bottom: 3rem;
  }
  .slide-item-shadow,
  .slide-item {
    height: 35rem;
    width: 25rem;
  }
  .testmonial-container {
    h1 {
      font-size: 2rem;
    }
  }
  .news-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .news-header {
    flex-direction: column;
  }
  .left-news-header {
    width: 100%;
  }
  .right-news-header {
    width: fit-content;
    margin-top: 1rem;
  }

  .news-cards {
    height: 55rem;
    flex-wrap: wrap;
    justify-content: "";
  }
  .news-item {
    width: 48%;
    height: 50%;
    margin-top: 2rem;
    position: relative;
  }
  .footer-container {
    flex-direction: column-reverse;
  }
  .footer-left,
  .footer-right {
    width: 100%;
    position: relative;
  }
  .footer-right {
    height: 25rem;
  }
  .footer-right-content-container {
    padding-top: 5rem;
  }
}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .header-right-hamburger {
    display: flex;
  }
  .header-right-hamburger .header-btn {
    display: inline-block;
  }
  .service-elements-container {
    margin-left: 0rem;
  }
  .first-section-head {
    margin-left: 5rem;
    padding-left: 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
  }
  .service-element .content h3 {
    font-size: 1.3rem;
  }
  .service-element .content p {
    font-size: 1.05rem;
  }
  .about-thumbnail {
    width: 32rem;
  }
  .about-content {
    padding-left: 3.5rem;
  }
  .main-about h1 {
    font-size: 2rem;
  }
  .main-about p {
    margin-bottom: 1.7rem;
  }
  .left-service-cont {
    width: 31rem;
    margin-bottom: 0;
    margin-left: 4rem;
  }
  .right-service-cont {
    margin-top: 2rem;
    margin-left: 2rem;
    grid-template-columns: 16rem 16rem;
    grid-template-rows: 16rem 16rem;
  }
  .service-element-srv {
    padding: 0;
  }
  .service-element-srv .content h3 {
    margin-top: 01rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .service-element-srv .content p {
    color: #fff;
    opacity: 1;
  }
  .slide-item-shadow,
  .slide-item {
    height: 27rem;
    width: 17rem;
  }
  .slide-item-content {
    margin: 2rem;
  }
  .works-header h1 {
    font-size: 2rem;
  }
  .works-header p {
    width: 33rem;
  }
  .fun-facts {
    margin-top: 30rem;
  }
  .fun-facts h1 {
    font-size: 2.5rem;
  }
  .fun-facts > h1 {
    font-size: 1.5rem;
  }
  .fun-facts-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .testmonial-container h1 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
  }
  .testmonial-container p {
    font-size: 1rem;
    @include verticalPad(2rem);
  }
  .testmonial-list .testmonial-item {
    margin: 0;
  }
  .testmonial-list .testmonial-item a img {
    width: 6rem;
  }
  .news-header h1 {
    font-size: 2rem;
  }
  .news-header p {
    margin-top: 1rem;
  }
  .news-cards {
    height: 47rem;
  }
  .clients-list li {
    padding: 2rem;
    padding-bottom: 0rem;
  }
  .clients-list li img {
    width: 5rem;
  }
  .clients-container {
    margin-top: 7rem;
    margin-bottom: 4rem;
  }

  .footer-left-content h1 {
    font-size: 3rem;
    line-height: 50px;
  }
  .footer-left,
  .footer-right {
    height: 21rem;
  }
  .footer > .container {
    padding: 0;
  }
  .footer-left-content {
    margin-left: 1.5rem;
  }
  .footer-left::after {
    width: 20rem;
  }
  .footer-right-content-container {
    padding-right: 10rem;
    padding-left: 2.3rem;
  }
  .copyright {
    padding-left: 2.3rem;
  }
  .news-item-content h3 {
    font-size: 1.2rem;
  }
  .news-item-content {
    margin-left: 2rem;
  }
}
/********/
// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  .width-full {
    width: 85vw;
  }
  .main-nav {
    display: none;
  }
  .header-btn {
    display: none;
  }
  .header-right-hamburger {
    display: flex;
  }
  .header-right-hamburger .header-btn {
    display: none;
  }
  .first-section-head {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    width: 15rem;
  }
  .service-element {
    width: 20rem;
    margin: 0;
    padding: 0;
  }
  .service-elements-container {
    flex-direction: column;
  }
  .service-element .content h3 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    color: #fff;
  }
  .service-element .content p {
    font-size: 0.8rem;
  }
  .icon img {
    margin-top: 1.5rem;
    height: 3rem;
  }
  .first-section {
    min-height: 41rem;
  }
  .about-thumbnail {
    width: 100%;
  }

  .about-content {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
  }
  .right-service-cont {
    display: flex;
    flex-direction: column;
  }
  .left-service-cont {
    margin: 0;
    padding: 0;
    width: auto;
  }
  .right-service-cont {
    margin: 0;
    margin-top: 2rem;
  }
  .service-element-srv {
    padding: 0.8rem;
    background: linear-gradient(to right, #f81f01, #f9004d);
    .svg-srv > line,
    path,
    circle,
    rect,
    polygon,
    polyline {
      stroke: #fff;
    }
  }
  .works-header p {
    width: 100%;
  }
  .slide-item-shadow,
  .slide-item {
    height: 32rem;
    width: 25rem;
  }
  .fun-facts-content {
    display: flex;
    flex-direction: column;
  }
  .fun-facts-content p {
    padding: 0;
  }
  .fun-facts {
    margin-top: 33rem;
  }
  .testmonial-container h1 {
    padding: 0;
  }
  .testmonial-container h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
  }
  .testmonial-list {
    width: auto;
  }
  .testmonial-list .testmonial-item a img {
    width: 5.9rem;
  }
  .testmonial-container p {
    font-size: 0.89rem;
  }
  .testmonial-container {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .news-container {
    margin: 0;
  }

  .news-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 95rem;
  }
  .news-item {
    width: 100%;
    height: 50%;
    .news-thumbnail {
      transform: scale(1.15);
    }
    &::before {
      opacity: 0.85;
      background: linear-gradient(to bottom, $hotPink 10%, black 100%);
    }
    .news-btn {
      opacity: 1;
      visibility: visible;
    }
    .news-item-content {
      transform: translateY(0);
    }
  }
  .clients-list li img {
    width: 7rem;
  }
  .clients-list li {
    padding: 0;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
  }
  .clients-list li {
    padding: 0rem;
  }
  .footer-right-content-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  .footer-right {
    height: 28rem;
  }
  .copyright {
    padding-left: 2rem;
  }
}
