/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* STARTS HERE*/
/*VARS*/
/****/
/*MIXINS*/
/*****/
.container {
  max-width: 78rem;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  padding: 3.5rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  background: #101010;
  color: #c6c9d8;
}

.btn {
  border: 2px solid #c6c9d8;
  border-radius: 5px;
  min-width: 3em;
  padding: 0.9em 1.5em;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #c6c9d8;
  font-weight: 600;
}

.btn:hover {
  border: 2px solid #f9004d;
  background: #f9004d;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*                       */
.nav-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
}

/*FIRST SECTION*/
.first-section {
  min-height: 50rem;
  background: #101010;
}

.service-elements-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.first-section-head {
  padding-left: 2rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(140deg, #ee076e 0%, #f81f01 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.service-element {
  color: #c6c9d8;
  padding-left: 2rem;
}

.service-element .content h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.service-element .content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}

/**********/
/*ABOUT SECTION*/
.about-section {
  min-height: 45rem;
  background: #191919;
  color: #c6c9d8;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-thumbnail img {
  border-radius: 8px;
}

.main-about h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
}

.main-about p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  margin-top: 1.7rem;
  margin-bottom: 2.7rem;
}

.small-about h1 {
  font-size: 1.7rem;
  font-weight: 900;
  color: #fff;
}

.small-about p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  margin-top: 1.7rem;
  margin-right: 1rem;
}

/**************/
/*SERVICE SECTION*/
.services-section {
  min-height: 45rem;
  background: #101010;
  color: #c6c9d8;
}

.left-service-cont {
  width: 28rem;
  padding-top: 2rem;
  padding-right: 4rem;
}

.right-service-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25rem 25rem;
      grid-template-columns: 25rem 25rem;
  -ms-grid-rows: 17rem 17rem;
      grid-template-rows: 17rem 17rem;
  grid-gap: 1rem;
}

.service-element-srv {
  color: #c6c9d8;
  padding: 2rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 15px;
  background: transparent;
  cursor: pointer;
}

.service-element-srv .content h3 {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.service-element-srv .content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
}

.service-element-srv:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  background: -webkit-gradient(linear, left top, right top, from(#f81f01), to(#f9004d));
  background: linear-gradient(to right, #f81f01, #f9004d);
}

.service-element-srv:hover .svg-srv > line,
.service-element-srv:hover path,
.service-element-srv:hover circle,
.service-element-srv:hover rect,
.service-element-srv:hover polygon,
.service-element-srv:hover polyline {
  stroke: #fff;
}

.svg-srv {
  width: 50px;
  height: 50px;
  stroke-width: 1px;
}

.service-btn a {
  color: white;
  font-size: 1.1rem;
}

.service-btn a span {
  position: relative;
}

.service-btn a span::after {
  content: "";
  left: 0;
  bottom: -5px;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #f9004d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-btn a span:hover::after {
  width: 100%;
}

/*************/
/*WORKS SECTION*/
.works-section {
  min-height: 65rem;
  background: #191919;
  color: #fff;
}

.works-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.works-header {
  text-align: center;
  margin-bottom: 3rem;
}

.works-header h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
}

.works-header p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  padding-top: 1rem;
  color: #c6c9d8;
  width: 38rem;
  display: inline-block;
}

.slide-container {
  max-width: 100vw;
  overflow: hidden;
  width: 100%;
  height: 45rem;
  left: 0;
  position: absolute;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.slide-item {
  height: 40rem;
  width: 30rem;
  border-radius: 15px;
  position: absolute;
  top: 0;
  z-index: 20;
  -webkit-transition: 1s;
  transition: 1s;
}

.slide-item:hover .slide-thumbnail {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.slide-item:hover::before {
  opacity: 0.85;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f9004d), to(black));
  background: linear-gradient(to bottom, #f9004d 10%, black 100%);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slide-item:hover .slide-item-shadow {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slide-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  left: 0;
  opacity: 0;
  background: black;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.slide-item-shadow {
  height: 40rem;
  width: 30rem;
  background: black;
  position: absolute;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide-item-content {
  position: absolute;
  bottom: 0;
  z-index: 15;
  margin: 3rem;
}

.slide-item-content p {
  opacity: 0.85;
  color: #c6c9d8;
  font-size: 1.1rem;
}

.slide-item-content h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.slide-thumbnail {
  background-image: url("./assets/imgs/portfolio-8.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
}

.slide-btn {
  font-size: 0.8rem;
}

.slider-left-btn {
  width: 50px;
  height: 41rem;
  position: absolute;
  background: orange;
  z-index: 100;
}

.slider-right-btn {
  width: 50px;
  height: 41rem;
  position: absolute;
  background: orange;
  z-index: 100;
  right: 0;
}

.fun-facts {
  margin-top: 40rem;
  padding-bottom: 4rem;
}

.fun-facts h1 {
  font-size: 2.2rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
}

.fun-facts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fun-facts-content h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #f9004d;
}

.fun-facts-content p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  padding-right: 3rem;
  padding-left: 3rem;
  color: #c6c9d8;
  text-align: center;
}

/**************/
/*testimonial-section*/
.testimonial-section {
  min-height: 35rem;
  background: #101010;
}

.testmonial-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.testmonial-container h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.5rem;
  text-align: center;
  padding-right: 7rem;
  padding-left: 7rem;
}

.testmonial-container p {
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  color: #c6c9d8;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.testmonial-container p span {
  color: #fff;
  opacity: 1;
}

.testmonial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  width: 33rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testmonial-list .testmonial-item {
  margin: 0.8rem;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.testmonial-list .testmonial-item:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.testmonial-list .testmonial-item::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: #f9004d;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}

.testmonial-list .testmonial-item a {
  display: inline-block;
}

.testmonial-list .testmonial-item a img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  width: 5rem;
  border-radius: 5px;
}

/********************/
/*NEWS SECTION*/
.news-section {
  min-height: 50rem;
  background-color: #191919;
}

.news-container {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.news-cards {
  position: relative;
  height: 34rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-item {
  position: relative;
  height: 34rem;
  width: 25rem;
  border-radius: 4px;
  z-index: 20;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.news-item:hover .news-thumbnail {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.news-item:hover::before {
  opacity: 0.85;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f9004d), to(black));
  background: linear-gradient(to bottom, #f9004d 10%, black 100%);
}

.news-item:hover .news-btn {
  opacity: 1;
  visibility: visible;
}

.news-item:hover .news-item-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.news-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  left: 0;
  opacity: 0;
  background: black;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.news-item-shadow {
  height: 40rem;
  width: 30rem;
  background: black;
  position: absolute;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-thumbnail {
  background-image: url("./assets/imgs/portfolio-8.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: cover;
  background-position: center;
}

.news-item-content {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  z-index: 15;
  margin: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-item-content p {
  opacity: 0.85;
  color: #c6c9d8;
  font-size: 0.9rem;
}

.news-item-content h3 {
  padding-top: 1.3rem;
  padding-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
}

.news-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 0.8rem;
  border-color: #f9004d;
}

.news-header {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news-header h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
}

.news-header p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  opacity: 0.8;
  margin-top: 1.7rem;
  color: #c6c9d8;
}

.news-header .service-btn {
  float: right;
}

.left-news-header {
  margin-top: auto;
  width: 50%;
}

.right-news-header {
  width: 50%;
  margin-top: auto;
  margin-bottom: 0.55rem;
}

.clients-container {
  margin-top: 5rem;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list li {
  padding: 3rem;
}

.clients-list li img {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0.7;
  max-height: 110px;
  max-width: 150px;
  cursor: pointer;
}

/*************/
/*FOOOTER*/
.footer {
  min-height: 35rem;
  background: #191919;
  position: relative;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-left {
  background: -webkit-linear-gradient(140deg, #ee076e 0%, #f81f01 100%);
  width: 51%;
  height: 35rem;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  z-index: 15;
}

.footer-left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./assets/imgs/pattern-1.png");
  z-index: -1;
  opacity: 0.5;
}

.footer-left::after {
  content: "";
  position: absolute;
  width: 26rem;
  height: 20rem;
  background: url("./assets/imgs/big-logo.png") no-repeat;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.footer-left-content {
  margin-left: 8rem;
}

.footer-left-content h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #fff;
  font-size: 4.5rem;
  line-height: 90px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 2.3rem;
  padding-top: 0.7rem;
}

.footer-left-content p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.footer-right {
  background: #101010;
  width: 49%;
  height: 30rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer-btn {
  font-size: 1rem;
  padding: 1.2em 2.3em;
  letter-spacing: 0.2rem;
  color: #fff;
}

.footer-btn:hover {
  background-color: #fff;
  color: #f9004d;
}

.footer-right-content {
  color: #c6c9d8;
  opacity: 0.8;
}

.footer-right-content h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 2.3rem;
}

.footer-right-content li {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.copyright {
  color: #c6c9d8;
  opacity: 0.8;
  margin-bottom: 3rem;
  position: absolute;
  bottom: 0;
  padding-left: 7.3rem;
}

.footer-right-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10rem;
  padding-right: 8.5rem;
  padding-left: 7.3rem;
}

/********/
/*# sourceMappingURL=style.css.map */